<!DOCTYPE html>
<html>

<head>
  {{> globalHead }}
  
  <script src="js/alerts.js"></script>
  <style>
  .page-cta-btn-anchor-button{
  width: 60%;
  border-radius: 15%;
}
  </style>
  
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src="js/plans/addPlan.js"></script>
  <title>Add Plan</title>
</head>

<body>
  <!-- NAVBAR START -->
  {{> navbar}}
  <!-- NAVBAR END -->
  
  <div id = "alertContainer"></div>

  <!-- FORM START -->
  <form id="planForm" name="planForm" action="">
    <div class="grid-container">
      <label>Plan name
        <input type="text" placeholder="Plan Name" name="planName">
      </label>

      <label>Plan Description
        <input type="text" placeholder="Plan Description" name="planDescription">
      </label>

      <label>Semester Year
        <input type="number" placeholder="2022" name="planYear" maxlength=5
         minlength=4>
      </label>

      <label>Semester Num
        <input type="number" placeholder="1" name="planSemester" maxlength="1"
         minlength="1">
      </label>

    </div>
  </form>
  
  <button  type="button" class="submit success button" id = "sub"
   style="width: 5.5%; text-allign: center"
   class="success button" onclick="submit(); return false">Submit</button>

  <!-- FORM END -->


  <!-- Run scripts on page load -->
  <script>

  </script>
 </body>
  {{> footer}}


 <style>
  #sub{
    margin-left: 47.5%;
    margin-right: 47.5%;
  }
  
  .submit {
    margin-bottom: 15%;
    margin-left: 7% ;
  }

    .input {
  width: 48.5%;
  }

    .error {
      outline: 1px solid red;
    }
  </style>

</html>