<!-- Nav Bar Start -->
<div class="top-bar navbar">
  <div class="top-bar-left">
    <ul role='navigation'class="dropdown menu" data-dropdown-menu>

      <li><a href="/" class="schedule-link anchor">
          <img alt="Home Page" width="109" height="98" src="Classy-Schedule.jpg" class="schedule-image" /></a></li>

      <li><a aria-label="Help Page" href="/help">Help</a></li>

      <li ><a aria-label="About Page" href="/about">About</a></li>

      {{#if loggedIn}}
      <li aria-label="Add Classes, Rooms, or Professors">
        <a role="listbox" href="#">Add</a>
        <ul class="menu">
          <li><a href="/addClass">Add Class</a></li>
          <li><a href="/addRoom">Add Room</a></li>
          <li><a href="/addProfessor">Add Professor</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Edit</a>
        <ul class="menu">
          <li><a aria-label='Preference Page' href="/editPreferences">Edit Prefereneces</a></li>
        </ul>
      </li>

      <li><a aria-label="Schedule Page" href="/schedule">Schedule</a></li>
      
      <li><a aria-label="Sign up"href="/signup">Signup</a></li>

      {{/if}}

    </ul> 
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      {{#if loggedIn}}
        <li ><a href="/logout"><button type="button" class="button">Logout</button></a></li>
        <script src="/js/fetchAuthorization.js"></script>
      {{else}}
        <li><a href="/login"><button type="button" class="button">Log In</button></a></li>
      {{/if}}
    </ul>
  </div>
</div>
<script src="/js/navbar.js"></script>
<!-- Nav Bar End -->