<!-- Nav Bar Start -->
<div class="top-bar navbar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>

      <li><a href="/" class="schedule-link anchor">
          <img alt="image" width="109" height="98" src="Classy-Schedule.jpg" class="schedule-image" /></a></li>

      <li><a href="/help">Help</a></li>

      <li><a href="/about">About</a></li>

      <li>
        <a href="#">Add</a>
        <ul class="menu">
          <li><a href="/classEntry">Add Class</a></li>
          <li><a href="/roomEntry">Add Room</a></li>
          <li><a href="/professorEntry">Add Professor</a></li>
        </ul>
      </li>

      <li><a href="/schedule">Schedule</a></li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/"><button type="button" class="button">Logout</button></a></li>
    </ul>
  </div>
</div>
<!-- Nav Bar End -->