<!-- Nav Bar Start -->
<div class="top-bar navbar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>

      <li><a href="/" class="schedule-link anchor">
          <img alt="image" width="109" height="98" src="Classy-Schedule.jpg" class="schedule-image" /></a></li>

      <li><a href="/help">Help</a></li>

      <li><a href="/about">About</a></li>

      {{#if loggedIn}}
      <li>
        <a href="#">Add</a>
        <ul class="menu">
          <li><a href="/addClass">Add Class</a></li>
          <li><a href="/addRoom">Add Room</a></li>
          <li><a href="/addProfessor">Add Professor</a></li>
        </ul>
      </li>

      <li><a href="/schedule">Schedule</a></li>
      {{/if}}

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      {{#if loggedIn}}
        <li><a href="/logout"><button type="button" class="button">Logout</button></a></li>
      {{else}}
        <li><a href="/login"><button type="button" class="button">Log In</button></a></li>
      {{/if}}
    </ul>
  </div>
</div>
<script src="/js/navbar.js"></script>
<!-- Nav Bar End -->