<!-- Nav Bar Start -->
<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/" class="schedule-link anchor">
            <img
                alt="image"
                width="109"
                height="98"
                src="Classy-Schedule.jpg"
                class="schedule-image"
            /></a></li>
            <li class="menu-text"><a href="/help">Help</a></li>
            <li class="menu-text"><a href="/about">About</a></li>
            <li class="menu-text"><a href="/classEntry">Class Entry</a></li>
            <li class="menu-text"><a href="/roomEntry">Room Entry</a></li>
            <li class="menu-text"><a href="/professorEntry">Professor Entry</a></li>
            <li class="menu-text"><a href="/schedule">Schedule</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/"><button type="button" class="button">Logout</button></a></li>
      </ul>
    </div>
  </div>
<!-- Nav Bar End -->