<!--ABOUT Page-->
<!DOCTYPE html>

<html>

<head>
  <link href="./css/foundation.css" rel="stylesheet" />
</head>

<body>
  <!-- Nav Bar -->
  {{> navbar}}

  <!-- About Content -->
  <div class="row">
    <div class="column">
      <p> </p>
      <h2 class="text-center">Our Team</h2>
      <!--h3 class="text-center">Capstone (CISC 480)</h3-->
      <p> </p>
      <a href="https://www.linkedin.com/in/christopher-kastelic-8803b21a/" target="_blank"
        style="margin:auto; text-align:center; display:block;">Chris Kastelic</a>
      <p> </p>
      <a href="https://www.linkedin.com/in/jessica-oathoudt-b223b522a/" target="_blank"
        style="margin:auto; text-align:center; display:block;">Jess Outhoudt</a>
      <p> </p>
      <a href="https://www.linkedin.com/in/noah-ponto-0ab40920b/" target="_blank"
        style="margin:auto; text-align:center; display:block;">Noah Ponto</a>
      <p> </p>
      <a href="https://www.linkedin.com/in/potter-cole/" target="_blank"
        style="margin:auto; text-align:center; display:block;">Cole Potter</a>
      <p> </p>
      <a href="https://www.linkedin.com/in/psavira/" target="_blank"
        style="margin:auto; text-align:center; display:block;">Pam Savira</a>
    </div>
  </div>

  {{> footer}}
</body>

</html>