<!--ABOUT Page-->
<!DOCTYPE html>

<html>

<head>
  {{> globalHead }}
</head>

<body>
  <!-- Nav Bar -->
  {{> navbar}}

  <!-- About Content -->
  <div class="row">
    <div class="column">
      <p> </p>
      <h2 class="title">Our Team</h2>
      <!--h3 class="text-center">Capstone (CISC 480)</h3-->
      <p> </p>
      <a href="https://www.linkedin.com/in/christopher-kastelic-8803b21a/" target="_blank"
        style="text-align: center; width:75%; margin-left:44%;">Chris Kastelic</a>
      <p> </p>
      <a href="https://www.linkedin.com/in/jessica-oathoudt-b223b522a/" target="_blank"
        style="text-align: center; width:75%; margin-left:44%;">Jess Oathoudt</a>
      <p> </p>
      <a href="https://www.linkedin.com/in/noah-ponto-0ab40920b/" target="_blank"
        style="text-align: center; width:75%; margin-left:44%;">Noah Ponto</a>
      <p> </p>
      <a href="https://www.linkedin.com/in/potter-cole/" target="_blank"
        style="text-align: center; width:75%; margin-left:44%;">Cole Potter</a>
      <p> </p>
      <a class="pad" href="https://www.linkedin.com/in/psavira/" target="_blank"
        style=" text-align: center; width:75%; margin-left:44%;">Pam Savira</a>
    </div>


    <h2 class="title">License</h2>
    <p></p>
    <p class="lic">
      MIT License <br>

Copyright (c) 2020 teleportHQ <br><br>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions: <br><br>

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software. <br><br>

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

  </p>
    
  </div>

  {{> footer}}
</body>

<style>
  .lic {
text-align: center;
width:75%;
margin-left:10%;
margin-right:10%;
padding-bottom: 10%;

}

.title{
  text-align: center;
width:75%;
margin-left:10%;
margin-right:10%;
padding-top:5%
}

</style>



</html>