<!DOCTYPE html>
<html>

<head>
  {{> globalHead }}
  
  <link href = "/css/addClass.css" rel = "stylesheet" />
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/addClass.js"></script>
  <title>Add Class</title>
</head>

<body>
  <!-- NAVBAR START -->
  {{> navbar}}
  <!-- NAVBAR END -->

  <!-- FORM START -->
  <form id = "classForm" name = "classForm">
    <div class = "grid-container">
      <label>Class Name
        <input type = "text" name = "className" placeholder =
         "Enter a Class Name" maxlength = "99" />
      </label>
      <!-- I think i got all the errors except negatives -->
      <div class = "grid-x grid-padding-x">
        <div class = "cell small-6">
          <label 
          >Department
            <select 
            aria-haspopup = "true" aria-expanded = "false"
            name = "department" id = "department"></select>
          </label>
        </div>

        <div class = "cell small-6">
          <label>Class Number
            <input type = "text" name = "classNumber" maxlength = "6" min = "0"
              onkeyup = "if(this.value < 0){this.value = this.value * -1}"
              placeholder = "xxxxxx" />
          </label>
        </div>
      </div>

      <div class = "grid-x grid-padding-x">
        <div class = "cell small-6">
          <label>Capacity
            <input type = "number" name = "capacity" placeholder = "xx"
             pattern = "\d*" min = "0" max = "99" maxlength = "2" onkeyup = 
             "if(this.value < 0){this.value = this.value * -1}" oninput =
              "javascript: if (this.value.length > this.maxLength) this.value =
              this.value.slice(0, this.maxLength);" step = "1" />
          </label>
        </div>

        <div class = "cell small-6">
          <label>Credits
            <input type = "number" name = "credits" placeholder = "x" oninput =
             "javascript: if (this.value.length > this.maxLength) this.value = 
             this.value.slice(0, this.maxLength);" onkeyup = "if(this.value < 0)
             {this.value = this.value * -1}" max = "4" min = "0" step = "1"
             maxlength = "1" />
          </label>
        </div>
      </div>
      
    <div class = "cell small-6">
        <div class = "input" >
          <label>Sections
            <input type = "number" id = "num_sections" placeholder = "xx"
              oninput =
              "javascript: if (this.value.length > this.maxLength) this.value = 
              this.value.slice(0, this.maxLength);" onkeyup = "if(this.value < 0
              ){this.value = this.value * -1}" max = "20" min = "0" step = "1" 
              maxlength = "2" />
          </label>
        </div>
        </div>
        <div class = "cell small-6">
          <label>Is this a lab?
            <input type = "checkbox" name = "isLab" maxlength = "5" min = "4"
            placeholder = "True or False"
             />
          </label>
        </div>
      </div>
      </div>

      <button type = "button" id="sub" class = "submit success button" onclick =
       "submitForm()"> Submit </button>
    </div>

  <div class = "grid-container">
    <div class = "grid-x grid-padding-x">
      <div class = "cell large-12">
        <div class = "cell small-6">
          <label style="margin-left: 35%">
            Class to Delete
            <br>
            <select aria-haspopup = "true" aria-expanded = "false"
            name = "classDelSelect" id = "classSelect"></select>
          </label>
        </div>
        <button style="margin-left: 47%"type = "button"  class = "alert button" onclick = "deleteClass()">
          DELETE
        </button>
      </div>
    </div>
  </div>

  </form>
  <!-- FORM END -->

  <div id = "alertContainer"></div>

  <!-- Run scripts on page load -->
  <script>
    fetchDepartments();
    fetchClasses();
    //fetchProfessorsData();
    //fetchRoomsData();
    //fetchClassesData();
    //fetchTimesData();
  </script>
 </body>
  {{> footer}}


 <style>
    .submit {
    margin-left: 7% ;
}

    .input {
  width: 48.5%;
  }
  #sub{
    margin-left: 47.5%;
    margin-right: 47.5%;
  }
  #classSelect{
    width: 50%;
  }

  </style>

</html>