<!DOCTYPE html>
<html lang = "en">

<head>
  {{> globalHead }}

  <script src = "js/addProfessor.js"></script>
  <link href = "css/addClass.css" rel = "stylesheet" type = "text/css" />
  <!--<script src="js/vendor/foundation.min.js"></script>-->
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <title>Add Professor</title>
</head>

<body>

  {{> navbar}}

  <form id = "profForm">
    <div class = "grid-container">

      <label>First Name
        <input type = "text" name = "firstName" placeholder = "First Name" maxlength="50"/>
      </label>

      <label>Last Name
        <input type = "text" name = "lastName" placeholder = "Last Name" maxlength="50"/>
      </label>

      <div class = "grid-x grid-padding-x">
        <div class = "cell large-12">
          <div class = "cell small-6">
            <label>Teach Load
              <input type = "number" name = "teachLoad" placeholder = "xx"
                onkeyup = "if(this.value < 0){this.value = this.value * -1}"
                 max = "100" min = "0" />
            </label>
          </div>

           <label>Email
            <input type = "text" name = "userEmail" placeholder = "Email"
            maxlength = "50"/>
          </label>

          <button style="margin-left: 47%" type = "button" class = "submit success button" 
          onclick = "submitForm()" > Submit</button>
        </div>
      </div>
    </div>
  </form>

  <div class = "grid-container">
    <div class = "grid-x grid-padding-x">
      <div class = "cell large-12">
        <div class = "cell small-6">
          <label>
            Professor to Delete
            <select aria-haspopup = "true" aria-expanded = "false"
            name = "profDelSelect" id = "profSelect"></select>
          </label>
        </div>
        <button style="margin-left: 40%" type = "button" class = "alert button" onclick = "deleteProf()">
          DELETE
        </button>
      </div>
    </div>
  </div>

   <!-- Alert Container -->
  <div style=""" id="alertContainer"></div>

  <script>
    fetchProfessors()
  </script>

  {{> footer}}

</body>

 <style>
    .alert {
    margin-bottom: 15%;
}
  </style>

</html>