<!DOCTYPE html>
<html lang="en">

<head>
  {{> globalHead }}

  <script src="js/addProfessor.js"></script>
  <link href="css/addClass.css" rel="stylesheet" type="text/css" />
  <!--<script src="js/vendor/foundation.min.js"></script>-->
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <title>Add Professor</title>
</head>

<body>

  {{> navbar}}

  <form id="profForm">
    <div class="grid-container">
      <label>Professor ID
        <input type="number" name="profNum" onkeyup="if(this.value<0){this.value= this.value * -1}"
          placeholder="Professor ID" />

      </label>

      <label>First Name
        <input type="text" name="firstName" placeholder="First Name" />
      </label>

      <label>Last Name
        <input type="text" name="lastName" placeholder="Last Name" />
      </label>

      <div class="grid-x grid-padding-x">
        <div class="cell large-12">
          <div class="cell small-6">
            <label>Teach Load
              <input type="number" name="teachLoad" placeholder="xx"
                onkeyup="if(this.value<0){this.value= this.value * -1}" max="100" min="0" />
            </label>
          </div>

          <button type="button" class="submit success button" onclick="submitForm()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell large-12">
        <div class="cell small-6">
          <label>
            Professor to Delete
            <select name="profDelSelect" id="profSelect"></select>
          </label>
        </div>
        <button type="button" class="alert button" onclick="deleteProf()">
          DELETE
        </button>
      </div>
    </div>
  </div>

  <div id="alertContainer"></div>

  <script>
    fetchProfessors()
  </script>

  {{> footer}}

</body>

 <style>
    .alert {
    margin-bottom: 15%;
}
  </style>

</html>