<!DOCTYPE html>
<html lang="en">

<head>
  {{> globalHead }}

  <script src="js/addRoom.js"></script>
  <link href="css/addClass.css" rel="stylesheet" type="text/css" />
  <!--<script src="js/vendor/foundation.min.js"></script>-->
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <title>Add Room</title>
</head>

<body>
  <!-- Nav Bar Start -->
  {{> navbar }}
  <!-- Nav Bar End -->
  <!-- Form Start for Room Entry -->
  <form id="roomForm">
    <div class="grid-container">
      <label>Room Number
        <!--i think i got all the errors except negatives-->
        <input type="number" name="roomNum" maxlength="6" placeholder="Room Number" min="0" step="1"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          onkeyup="if(this.value<0){this.value= this.value * -1}" />
      </label>

      <div class="grid-x grid-padding-x">
        <div class="cell large-12">
          <div class="cell small-6">
            <label>Capacity
              <input type="number" name="capacity" maxlength="2"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                onkeyup="if(this.value<0){this.value= this.value * -1}" placeholder="xx" max="100" min="0" />
            </label>
          </div>
          <!-- Submit Button -->
          <button type="button" class="submit success button" onclick="submitForm()">
            Submit
          </button>
        </div>
  </form>
  <!-- Form End for Room Entry -->

  <!-- Room Delete Option Start-->
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell large-12">
        <div class="cell small-6">
          <label>
            Room to Delete
            <select name="roomDelSelect" id="roomSelect"></select>
          </label>
        </div>
        <!-- Delete Button -->
        <button type="button" class="alert button" onclick="deleteRoom()">
          DELETE
        </button>
      </div>
    </div>
  </div>
  <!-- Room Delete Option End -->

  <!-- Alert Container -->
  <div id="alertContainer"></div>

  <script>
    fetchRooms()
      //fetchClasses()
  </script>

  {{> footer}}

</body>


</html>