<html>

<head>
  {{> globalHead }}
  
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/editPreference.js"></script>
  <link href="css/preferences.css" rel="stylesheet" />
  <title>Can Teach</title>
</head>
<body>
  <!-- NAVBAR START -->
  {{> navbar}}


<div class="div" id="div1">
</div>

<form class="canTeach" id="teachForm">

<div style="margin-left: 20%" class="div" id='div2'>
</div>

<button style="background-color: #3cc46c; margin-left:30%" class="submit" type="button" onclick = "testPrefUpdate()">
  Submit</button>

</form>

<div id = "alertContainer"></div>

</body>

<script>
  getProf();
  fetchClassesCanTeach();
</script>
{{> footer}}
</html>