<html>

<head>
  {{> globalHead }}
  
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/editPreference.js"></script>
  <title>Can Teach</title>
</head>
<body>
  {{> navbar}}
<form id="teachForm">
<input type="button" id="testCan" name='testCan' value="Get Classes Prof Can Teach" onclick="fetchCanTeach()"></input>
<Div id='div1'>
</div>
<input type="button" id="testCan" value="Get All Classes" onclick="fetchClasses();"/>
<Div id='div2'>
</div>
<button type = "button" onclick = "submitForm()">Submit</button>

<script>
  const check = document.getElementById('testCan');
  console.log(check.value)
</script>

</form>
<div id = "alertContainer"></div>
</body>
</html>