<!DOCTYPE html>
<html>
    
        <head>
            {{> globalHead }}
          
            <script src = "js/data.js"></script>
            <!--<script src="js/vendor/foundation.min.js"></script>-->
            <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
            <title>Add Professor</title>
          </head>

<body>
        
<script>
    fetchProfessors();
</script>

</body>
</html>