<!DOCTYPE html>
<html lang="en">

<head>
  {{> globalHead }}

  <!--<script src="js/vendor/foundation.min.js"></script>-->
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <title>Edit Preferences</title>
</head>

<body>
    
</body>

</html>