<!DOCTYPE html>
<html>

<head>
  {{> globalHead }}
  
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/editPreference.js"></script>
  <title>Edit Preferences</title>
</head>

<body>
  <!-- NAVBAR START -->
  {{> navbar}}
  <!-- NAVBAR END <select type="text" name="profId" id="profSelect" />-->
  <div>
    <label class="tab">Select A Professor To Edit</label>
    <select class="tab" id="profSelect" name='profId'></select>
  </div>

  <li ><a href="/canTeach"><button type="button" class="button">Edit Can Teach</button></a></li>
  <li ><a href="/editPreferences"><button type="button" class="button">Edit Prefer To Teach</button></a></li>
  <button class='button' >Edit Time Of Day</button>
  <button class='button' >Edit Day Of Week</button>
  <button class='button' >Edit Timeslot</button>
        





      
      




  <!-- Run scripts on page load -->
  <script>
    fetchProfessors();
  </script>
  <style>
    .tab{
      margin-left: 5%;
      width: 30%;
    }

  </style>
 </body>
  {{> footer}}
</html>