<!DOCTYPE html>
<html>

<head>
  {{> globalHead }}
  
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/addPreference.js"></script>
  <title>Edit Preferences</title>
</head>

<body>
  <!-- NAVBAR START -->
  {{> navbar}}
  <!-- NAVBAR END -->

  <!-- FORM START -->
  <form id="classForm" name="classForm">
    <div class="grid-container">
      <label>Professor to Edit
        <select type="text" name="profId" id="profSelect" />
        
      </label>
    <p>is this here</p>
    
      <p>is this here</p>
      
    </div>
    <p>is this here</p>
    
    </form>
    <p>is this here</p>

      
      
  <!-- FORM END -->




  <!-- Run scripts on page load -->
  <script>
    fetchProfessors();
    //fetchCanTeach();
  </script>
 </body>
  {{> footer}}


 <style>
    .submit {
    margin-bottom: 15%;
}
  </style>
    <p>is this here</p>
</html>