<!DOCTYPE html>
<html>

<head>
  {{> globalHead }}
  
  <link href="css/help.css" rel="stylesheet" />
</head>

<body>
  <!-- Nav Bar Start -->
  {{> navbar}}
  <!-- Nav Bar End -->

  <!-- Help Content Start -->
  <div>


    <link href="./help.css" rel="stylesheet" />
    <div style="color: #32a852; text-align:center; text-transform: uppercase">
      <br><br>
      <h1>We are here to help you!</h1>
    </div>
    <div>
      <br>
      <div style="margin-left:30%;margin-right:30%"> 
        <ul style="margin-left:30%" class="list">
          <li>Make sure you are logged in</li>
          <li>Click on &quot;Class Entry&quot; in top nav bar</li>
          <li>Enter your class details and click submit</li>
          <li>Click on &quot;Room Entry&quot; in top nav bar</li>
          <li>Enter your room details and click submit</li>
          <li>Click on &quot;Professor Entry&quot; in top nav bar</li>
          <li>Enter your professor details and click submit</li>
          <li>Click on &quot;Edit &quot; in top nav bar and click &quot;Edit Preferences&quot;</li>
          <li>Edit your professor preferences and click submit</li>
          <li>Click on &quot;Schedule&quot; in top nav bar</li>
          <li>Choose which classes you want in each time slot</li>
          <li>Click save progress and navigate to new room using drop-down 
            button at bottom of page</li>
          <li>Choose which classes you want in each room available</li>
          <l>Congrats! You have made a schedule!</li>
        </ul>
        <br><br>
      </div>
    </div>
  </div>
  <!-- Help Content End -->

  {{> footer}}
</body>

</html>