<!DOCTYPE html>
<html>

<head>
  {{> globalHead }}
  
  <link href="css/help.css" rel="stylesheet" />
</head>

<body>
  <!-- Nav Bar Start -->
  {{> navbar}}
  <!-- Nav Bar End -->

  <!-- Help Content Start -->
  <div>


    <link href="./help.css" rel="stylesheet" />
    <div class="title">
      <h1 tabindex='0'id="title">We are here to help you!</h1>
    </div>
    <div class="help-container">
      <div class="help-container2"> 
        <ul  class="list">
          <li tabindex="1"class="list-item"><span>Make sure you are logged in</span></li>
          <li  tabindex="2"class="list-item"><span>Click on &quot;Class Entry&quot; in top nav bar</span></li>
          <li  tabindex="3"class="list-item"><span>Enter your class details and click submit</span></li>
          <li  tabindex="4"class="list-item"><span>Click on &quot;Room Entry&quot; in top nav bar</span></li>
          <li  tabindex="5"class="list-item"><span>Enter your room details and click submit</span></li>
          <li  tabindex="6"class="list-item"><span>Click on &quot;Schedule&quot; in top nav bar</span></li>
          <li tabindex="7"class="list-item"><span>Choose which classes you want in each time slot</span></li>
          <li tabindex="8"class="list-item"><span>Click save progress and navigate to new room <br> using drop-down button at bottom
              of page</span></li>
          <li tabindex="9"class="list-item"><span>Choose which classes you want in each room <br> available</span></li>
          <li tabindex="10"class="list-item"><span>Click view schedule to see your completed <br> semester schedule for all
              rooms</span></li>

        </ul>
      </div>
    </div>
  </div>
  <!-- Help Content End -->

  {{> footer}}
</body>

</html>