<!DOCTYPE html>
<html>

<head>
  {{> globalHead }}
  
  <link href="/css/home.css" rel="stylesheet" />
</head>

<body>
  <div>

    {{> navbar}}

    <div id="resources" class="home-hero">
      <div class="home-content-container">
        <div class="home-hero-text">
          <h1 tabindex="0"class="home-heading section-Heading">Classy-Schedule</h1>
          <p role="text" tabindex="1">Classy-Schedule is an innovative start-up company developing an integrated suite of classroom scheduling
            software.</p>
          <p role='text'tabindex="2">The administrator will be able to input classes details, manually schedule classes, or select an optimized
            schedule.</p>
          <p role='text' tabindex="3">No more hours dedicated to avoiding conflicts or overscheduling! With Classy-Schedule, the work is done for
            you!</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  {{> footer}}


</html>