<html>

<head>
  {{> globalHead }}
  
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/editPreference.js"></script>
  <link href="css/preferences.css" rel="stylesheet" />
  <title>Prefer to Teach</title>
</head>
<body>

  <!-- NAVBAR START -->
  {{> navbar}}
  <!-- NAVBAR END -->
<div class="div" id="div1">
</div>

<form class="canTeach" id="teachForm">
<input type="button" id="testCan2" value="Prefers to Teach"
 onclick="fetchClassesPreferTeach();disableButton('testCan2');"/>

<div class="div" id='div2'>
</div>

<button class="submit" type="button" onclick = "testPrefUpdatePrefer()">Submit</button>


</form>
<div id = "alertContainer"></div>
</body>

<script>
  getProf();
</script>
</html>