<html>

<head>
  {{> globalHead }}
  
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/editPreference.js"></script>
  <title>Prefer to Teach</title>
</head>
<body>

  <!-- NAVBAR START -->
  {{> navbar}}
  <!-- NAVBAR END -->
<input type="button" id="testCan2" value="Get All Classes"
 onclick="fetchClassesPreferTeach();disableButton('testCan2');"/>
<Div id='div2'>
</div>
<button type = "button" onclick = "testPrefUpdatePrefer()">Submit</button>


</form>
<div id = "alertContainer"></div>
</body>
</html>