<!DOCTYPE html>
<html>

<head>
    {{> globalHead }}
    
    <link href="/Classy-Schedule/css/schedule.css" />
    <script src="js/schedule.js"></script>

    <!-- Single Page CSS Start -->
    <style>
        * {
            box-sizing: border-box;
        }
        .row {
            display: flex;
            margin-left: 5px;
            margin-right: 5px;
        }
        .column {
            flex: 50%;
            padding: 0px;
            padding-top: 20px;
        }
        .column2 {
            flex: 0%;
            padding-left: 100px;
            padding-right: 50px;
            padding-top: 20px;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        td {
            text-align: center;
            padding: 16px;
        }
        th {
            background-color: #179941;
            text-align: center;
            padding: 16px;
        }
        tr:nth-child(even) {
            background-color: #ddd;
        }
    </style>
    <!-- CSS End -->

</head>

<body>

    <!-- Nav Bar Start -->
    {{> navbar}}
    <!-- Nav Bar End -->

    <div id="alertContainer"></div>

    <!-- Labels Start -->
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 large-5">
            <table  tabindex='0'id=classtable>
                <tr>
                    <th> <span title="Department of the course">DEPT</th>
                    <th> <span title="Number of the class">CLASS #</th>
                    <th> <span title="Name of the class">CLASS NAME</th>
                    <th> <span title="Capacity for the class">CAP</th>
                </tr>

            </table>
        </div>
        <!-- Labels End -->


        <div class="cell small-12 medium-12 large-7">

            <table class="column" id="table" style="margin: 0px auto;">


                <!-- Top of Table Labels -->
                <tr>
                    <th width="100"<span title="Available time slots for the MONDAY, WEDNESDAY, & FRIDAY">TIME</span></th>
                    <th width="100" <span title="Use the dropdown list to select a course for Monday in each time slot">MONDAY</span></th>
                    <th width="100" <span title="Use the dropdown list to select a course for Wednesday in each time slot">WEDNESDAY</span></th>
                    <th width="100" <span title="Use the dropdown list to select a course for Friday in each time slot">FRIDAY</th>
                </tr>

                <!-- Beginning of Schedule Table -->
                <tbody data-block="MWF">

                    <tr  data-time=0815>

                        <td >8:15 - 9:20am</td>


                        <td data-day="M"><select aria-label='Choose A class for Monday 8:15-9:20 am'   class="classSelection" name="classSelection" id="classSelection0"
                                onchange="onSelectSchedule(0);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select aria-label='Choose A class for Wednesday 8:15-9:20 am' class="classSelection" name="classSelection" id="classSelection1"
                                onchange="updateTable(1);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select  aria-label='Choose A class for Friday 8:15-9:20 am' class="classSelection" name="classSelection" id="classSelection2"
                                onchange="updateTable(2);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                    </tr>
                    <tr data-time=0935>
                        <td>9:35 - 10:40am</td>
                        <td data-day="M"><select aria-label='Choose A class for Monday 9:35-10:40 am' class="classSelection" name="classSelection" id="classSelection3"
                                onchange="onSelectSchedule(3);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select  aria-label='Choose A class for Wednesday 9:35-10:40 am' class="classSelection" name="classSelection" id="classSelection4"
                                onchange="updateTable(4);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select   aria-label='Choose A class for Friday 9:35-10:40 am' class="classSelection" name="classSelection" id="classSelection5"
                                onchange="updateTable(5);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>

                    </tr>
                    <tr data-time=1055>

                        <td>10:55am - 12:00pm</td>
                        <td data-day="M"><select aria-label='Choose A class for Monday 10:55 am to 12:00 pm' class="classSelection" name="classSelection" id="classSelection6"
                                onchange="onSelectSchedule(6);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select  aria-label='Choose A class for Wednesday 10:55 am to 12:00 pm' class="classSelection" name="classSelection" id="classSelection7"
                                onchange="updateTable(7);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select aria-label='Choose A class for Friday 10:55 am to 12:00 pm'  class="classSelection" name="classSelection" id="classSelection8"
                                onchange="updateTable(8);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                    </tr>
                    <tr data-time=1215>
                        <td>12:15 - 1:20pm</td>
                        <td data-day="M"><select aria-label='Choose A class for Monday 12:15-1:20 pm' class="classSelection" name="classSelection" id="classSelection9"
                                onchange="onSelectSchedule(9);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select aria-label='Choose A class for Wednesday 12:15-1:20 pm' class="classSelection" name="classSelection" id="classSelection10"
                                onchange="updateTable(10);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select aria-label='Choose A class for Friday 12:15-1:20 pm' class="classSelection" name="classSelection" id="classSelection11"
                                onchange="updateTable(11);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>

                    </tr>
                    <tr data-time=1335>

                        <td>1:35 - 2:40pm</td>
                        <td data-day="M"><select aria-label='Choose A class for Monday 1:35-2:40 pm' class="classSelection" name="classSelection" id="classSelection12"
                                onchange="onSelectSchedule(12);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select aria-label='Choose A class for Wednesday 1:35-2:40 pm' class="classSelection" name="classSelection" id="classSelection13"
                                onchange="updateTable(13);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select aria-label='Choose A class for Friday 1:35-2:40 pm' class="classSelection" name="classSelection" id="classSelection14"
                                onchange="updateTable(14);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                    </tr>
                    <tr data-time=1525>
                        <td>3:25 - 5:00pm</td>
                        <td data-day="M"><select aria-label='Choose A class for Monday 3:25-5:00 pm' class="classSelection" name="classSelection" id="classSelection15"
                                onchange="onSelectSchedule(15);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select aria-label='Choose A class for Wednesday 3:25-5:00 pm' class="classSelection" name="classSelection" id="classSelection16"
                                onchange="updateTable(16);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select aria-label='Choose A class for Friday 3:25-5:00 pm' class="classSelection" name="classSelection" id="classSelection17"
                                onchange="updateTable(17);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>

                    </tr>
                    <tr data-time=1730>

                        <td>5:30 - 7:15pm</td>
                        <td data-day="M"><select aria-label='Choose A class for Monday 5:30-7:15 pm' class="classSelection" name="classSelection" id="classSelection18"
                                onchange="onSelectSchedule(18);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select aria-label='Choose A class for Wednesday 5:30-7:15 pm' class="classSelection" name="classSelection" id="classSelection19"
                                onchange="updateTable(19);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select aria-label='Choose A class for Friday 5:30-7:15 pm' class="classSelection" name="classSelection" id="classSelection20"
                                onchange="updateTable(20);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                    </tr>
                    <tr data-time=1930>
                        <td>7:30 - 9:15pm</td>
                        <td data-day="M"><select aria-label='Choose A class for Monday 7:30-9:15 pm' class="classSelection" name="classSelection" id="classSelection21"
                                onchange="onSelectSchedule(21);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="W"><select aria-label='Choose A class for Wednesday 7:30-9:15 pm' class="classSelection" name="classSelection" id="classSelection22"
                                onchange="updateTable(22);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="F"><select aria-label='Choose A class for Friday 7:30-9:15 pm' class="classSelection" name="classSelection" id="classSelection23"
                                onchange="updateTable(23);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>

                    </tr>


                </tbody>

            </table>

            <table class="column" style="margin:0px auto;">

                <!-- Top Labels 2nd Layer -->
                <tr>
                    <th width="100" <span title="Available time slots for TUESDAY & THURSDAY">TIME</th>
                    <th width="100" <span title="Use the dropdown list to select a course for Tuesday in each time slot">TUESDAY</th>
                    <th width="100"<span title="Use the dropdown list to select a course for Thursday in each time slot">THURSDAY</th>
                </tr>


                <tbody data-block="TR">

                    <tr data-time=0800>

                        <td>8:00 - 9:40am</td>
                        <td data-day="T"><select aria-label='Choose A class for Tuesday 8:00-9:40 am' class="classSelection" name="classSelection" id="classSelection24"
                                onchange="onSelectSchedule(24);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="R"><select aria-label='Choose A class for Thursday 8:00-9:40 am' class="classSelection" name="classSelection" id="classSelection25">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                    </tr>
                    <tr data-time=0955>
                        <td>9:55 - 11:35am</td>
                        <td data-day="T"><select aria-label='Choose A class for Tuesday 9:55-11:35 am' class="classSelection" name="classSelection" id="classSelection26"
                                onchange="onSelectSchedule(26);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="R"><select aria-label='Choose A class for Thursday 9:55-11:35 am' class="classSelection" name="classSelection" id="classSelection27">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>

                    </tr>
                    <tr data-time=1330>

                        <td>1:30 - 3:10pm</td>
                        <td data-day="T"><select aria-label='Choose A class for Tuesday 1:30-3:10 pm' class="classSelection" name="classSelection" id="classSelection28"
                                onchange="onSelectSchedule(28);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="R"><select aria-label='Choose A class for Thursday 1:30-3:10 pm' class="classSelection" name="classSelection" id="classSelection29">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                    </tr>
                    <tr data-time=1525>
                        <td>3:25 - 5:00pm</td>
                        <td data-day="T"><select aria-label='Choose A class for Tuesday 3:25-5:00 pm' class="classSelection" name="classSelection" id="classSelection30"
                                onchange="onSelectSchedule(30);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="R"><select aria-label='Choose A class for Thursday 3:25-5:00 pm' class="classSelection" name="classSelection" id="classSelection31">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>

                    </tr>
                    <tr data-time=1730>

                        <td>5:30 - 7:15pm</td>
                        <td data-day="T"><select aria-label='Choose A class for Tuesday 5:30-7:15 pm' class="classSelection" name="classSelection" id="classSelection32"
                                onchange="onSelectSchedule(32);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="R"><select aria-label='Choose A class for Thursday 5:30-7:15 pm' class="classSelection" name="classSelection" id="classSelection33">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                    </tr>
                    <tr data-time=1930>
                        <td>7:30 - 9:15pm</td>
                        <td data-day="T"><select aria-label='Choose A class for Tuesday 7:30-9:15 pm' class="classSelection" name="classSelection" id="classSelection34"
                                onchange="onSelectSchedule(34);">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>
                        <td data-day="R"><select aria-label='Choose A class for Thursday 7:30-9:15 pm' class="classSelection" name="classSelection" id="classSelection35">
                                <option value="Choose Class" selected>Choose Class</option>
                            </select></td>

                    </tr>


                </tbody>

            </table>
            <!-- Schedule Table End -->
        </div>
    </div>

    <style>
        .my-menu {
            /*Sets all the content of dropdown div to center*/
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .classroomMenu {
            width: 15%;
        }
    </style>
    <div class="classroomMenu my-menu">
        <select aria-label='Select a room to create a schedule for' name="roomSelect" id="roomSelect">
        </select>
    </div>
    <style>
        .container {
            height: 200px;
            position: relative;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 10%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>

    <div class="container">
        <div class="center">
            <a href='https://w3docs.com' class="button">
                View Schedule
            </a>
            <button id="saveButton" onclick="saveTable(document.getElementById('roomSelect').value+'\n')" class="submit success button">Save Progress</button>
        </div>
        <script>
            fetchClasses();
            fetchRooms();
            makeTable();

            //Saves current room when room is changed
            (function () {
                var previous;

                $("select[name=roomSelect]").focus(function () {
                    previous = this.value+'\n';
                }).change(function() {
                    saveTable(previous);
                    deleteRoom();      
                    previous = this.value+'\n';
                });
            })();
        </script>
    </div>

    {{> footer}}

</html>