<!--ABOUT Page-->
<!DOCTYPE html>

<html>

<head>
  {{> globalHead }}
  <script src="alerts.js"></script>
  <script src="js/scheduleGeneration.js"></script>
  <script src="js/util.js"></script>
  <link rel="stylesheet" type="text/css" href="css/scheduleGeneration.css" />
</head>

<body>
  <!-- Nav Bar -->
  {{> navbar}}

    <div id="alertContainer"></div>

    <div class="grid-container">

      <div id="scheduleNotGenerating" class="no-display">
          <button onclick="generateSchedule()" class="success button">
            Generate Schedule</button>
      </div>

      <div id="scheduleGenerating" class="no-display">
          <p style="text-align: center">Schedule is already generating...</p>
          <p id="status"></p>
      </div>

      <div id="scheduleGenerated" class="no-display">
          <p style="text-align: center">Schedule created!</p>

          <select id="previewSolutionSelect"></select>
          
          <div id="previewSolutionTableContainer">
            <table id="previewSolutionTable">
            </table>
          </div>

          <div class="grid-x grid-margin-x" style="margin-top: 1em">
            <button onclick="generateSchedule()" class="cell button">
              Generate New Schedule
            </button>
            
            <button onclick="currentSolutionToLocalStorage()" class="cell success button">
              Save Current Schedule
            </button>
          </div>
      </div>
    </div>

    <script>ready()</script>
    <script>statusChecker()</script>
    
  {{> footer}}
</body>


</html>