<!DOCTYPE html>
<html>

<head>
    {{> globalHead }}

    <script src="js/alerts.js"></script>
    
    <script src="js/schedule/scheduleGlobals.js"></script>
    <script src="js/schedule/scheduleInteractions.js"></script>
    <script src="js/schedule/scheduleStorage.js"></script>
    <script src="js/schedule/schedulePopulation.js"></script>
    <script src="js/schedule.js"></script>
    
    <link href="/css/schedule.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Nav Bar Start -->
    {{> navbar}}
    <!-- Nav Bar End -->

    <div id="alertContainer"></div>

    <!-- Controls -->
    <div class="controls">
        <div class="control-group">
            <select aria-label='Select a room to create a schedule for'
             name="roomSelect" id="roomSelect" onchange="window.localStorage.setItem('roomID',document.getElementById('roomSelect').value);setRoom();"></select>
            <button id="loadButton" onclick="loadSchedule()"
             class="warning button">Load Local</button>
            <button id="saveButton" onclick="saveSchedule()"
             class="success button">Save Local</button>
        </div>

        <div class="separator"></div>

        <div class="control-group">
            <select aria-label='Select a schedule plan to save or load'
             id="planSelect"></select>
            <button id="pullButton" class="button warning">Load Plan</button>
            <button id="pushButton" class="button success">Save to Plan</button>
            <button id="algoButton" class="button warning">Load Automatic Plan</button>
        </div>
    </div>

     <center> Welcome to the schedule page! Here is what you can do: 
        <br>Choose how many sections for each class you would like in the sections colum of the table.<br> 
        Choose which classes you would like for each time slot. <br>To autofill an entire week hold shift and then select a class for Monday or Tuesday.<br>
        Once a class is selected, you may choose from professors who can teach the class.<br>
        If the capcity colum for a class is red, the class size is too large to fit into this room.</center>
  

    <!-- Tables -->
    <div class="grid-x grid-margin-x">
        <!-- Labels Start -->
        <div class="cell small-12 medium-12 large-5">
            <table  tabindex='0'id="classtable">
                <tr>
                    <th> <span title="Department of the course">DEPT</th>
                    <th> <span title="Number of the class">CLASS #</th>
                    <th> <span title="Name of the class">CLASS NAME</th>
                    <th> <span title="Capacity for the class">CAP</th>
                    <th> <span title="Capacity for the class">SECTIONS</th>
                </tr>

            </table>
        </div>
        <!-- Labels End -->


        <div class="cell small-12 medium-12 large-7">

            <table class="column" id="table" style="margin: 0px auto;">


                <!-- Top of Table Labels -->
                <tr>
                    <th width="100"<span title="Available time slots for the
                     MONDAY, WEDNESDAY, & FRIDAY">TIME</span></th>
                    <th width="100" <span title="Use the dropdown list to select
                     a course for Monday in each time slot. Hold shift before
                     selecting to set the week's values">MONDAY</span></th>
                    <th width="100" <span title="Use the dropdown list to select
                     a course for Wednesday in each time slot">WEDNESDAY</span>
                     </th>
                    <th width="100" <span title="Use the dropdown list to select
                     a course for Friday in each time slot">FRIDAY</th>
                </tr>

                <!-- Beginning of Schedule Table -->
                <tbody data-block="MWF">

                    <tr  data-time=0815 data-time-code=0>

                        <td >8:15 - 9:20am</td>

                        <td data-day="M">
                            <select aria-label='Choose A class for Monday
                             8:15-9:20 am' class="classSelection" 
                             name="classSelection" id="classSelection0"
                            onchange="onSelectSchedule(0);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="W">
                            <select 
                            aria-label='Choose A class for Wednesday 8:15-9:20
                             am' class="classSelection" name="classSelection" 
                            id="classSelection1">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="F">
                            <select  aria-label='Choose A class for Friday 8:15
                             -9:20 am' class="classSelection" 
                             name="classSelection" id="classSelection2">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                    </tr>


                    <tr data-time=0935 data-time-code=1>

                        <td>9:35 - 10:40am</td>

                        <td data-day="M">
                            <select 
                            aria-label='Choose A class for Monday 9:35-10:40 am' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection3"
                            onchange="onSelectSchedule(3);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="W">
                            <select aria-label='Choose A class for Wednesday
                             9:35-10:40 am' class="classSelection" 
                             name="classSelection" id="classSelection4">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="F">
                            <select aria-label='Choose A class for Friday 9:35-
                             10:40 am' class="classSelection" 
                            name="classSelection" id="classSelection5">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                    <tr data-time=1055 data-time-code=2>

                        <td>10:55am - 12:00pm</td>

                        <td data-day="M">
                            <select aria-label='Choose A class for Monday 10:55
                             am to 12:00 pm' class="classSelection" 
                             name="classSelection" id="classSelection6"
                             onchange="onSelectSchedule(6);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                        <td data-day="W">
                            <select aria-label='Choose A class for Wednesday
                             10:55 am to 12:00 pm' class="classSelection" 
                            name="classSelection" id="classSelection7">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                        <td data-day="F">
                            <select aria-label='Choose A class for Friday 10:55
                             am to 12:00 pm' class="classSelection" 
                            name="classSelection" id="classSelection8">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                    </tr>


                    <tr data-time=1215  data-time-code=3>

                        <td>12:15 - 1:20pm</td>

                        <td data-day="M">
                            <select 
                            aria-label='Choose A class for Monday 12:15-1:20 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection9"
                            onchange="onSelectSchedule(9);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="W">
                            <select 
                            aria-label='Choose A class for Wednesday 12:15-1:20
                             pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection10">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="F">
                            <select 
                            aria-label='Choose A class for Friday 12:15-1:20 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection11">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                    <tr data-time=1335  data-time-code=4>

                        <td>1:35 - 2:40pm</td>

                        <td data-day="M">
                            <select 
                            aria-label='Choose A class for Monday 1:35-2:40 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection12"
                            onchange="onSelectSchedule(12);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="W">
                            <select 
                            aria-label='Choose A class for Wednesday 1:35-2:40
                             pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection13">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="F">
                            <select 
                            aria-label='Choose A class for Friday 1:35-2:40 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection14">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                    </tr>


                    <tr data-time=1525  data-time-code=5>

                        <td>3:25 - 5:00pm</td>

                        <td data-day="M">
                            <select 
                            aria-label='Choose A class for Monday 3:25-5:00 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection15"
                            onchange="onSelectSchedule(15);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                        
                        <td data-day="W">
                            <select 
                            aria-label='Choose A class for Wednesday 3:25-5:00
                             pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection16">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="F">
                            <select 
                            aria-label='Choose A class for Friday 3:25-5:00 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection17">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                    <tr data-time=1730  data-time-code=6>

                        <td>5:30 - 7:15pm</td>

                        <td data-day="M">
                            <select 
                            aria-label='Choose A class for Monday 5:30-7:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection18"
                            onchange="onSelectSchedule(18);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="W">
                            <select 
                                aria-label='Choose A class for Wednesday 5:30-
                                 7:15 pm' 
                                class="classSelection" 
                                name="classSelection" 
                                id="classSelection19">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                        <td data-day="F">
                            <select 
                            aria-label='Choose A class for Friday 5:30-7:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection20">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                    </tr>


                    <tr data-time=1930  data-time-code=7>

                        <td>7:30 - 9:15pm</td>

                        <td data-day="M">
                            <select 
                            aria-label='Choose A class for Monday 7:30-9:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection21"
                            onchange="onSelectSchedule(21);">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="W">
                            <select 
                            aria-label='Choose A class for Wednesday 7:30-9:15
                             pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection22">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="F">
                            <select 
                            aria-label='Choose A class for Friday 7:30-9:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection23">
                                <option value="" selected>
                                    Choose Class
                                </option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                </tbody>

            </table>

            <table class="column" style="margin:0px auto;">

                <!-- Top Labels 2nd Layer -->
                <tr>
                    <th width="100" <span title="Available time slots for
                     TUESDAY & THURSDAY">TIME</th>
                    <th width="100" <span title="Use the dropdown list to select
                     a course for Tuesday in each time slot">TUESDAY</th>
                    <th width="100"<span title="Use the dropdown list to select
                     a course for Thursday in each time slot">THURSDAY</th>
                </tr>


                <tbody data-block="TR">

                    <tr data-time=0800 data-time-code=8>

                        <td>8:00 - 9:40am</td>

                        <td data-day="T">
                            <select 
                            aria-label='Choose A class for Tuesday 8:00-9:40 am' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection24"
                            onchange="onSelectSchedule(24);">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="R">
                            <select 
                            aria-label='Choose A class for Thursday 8:00-9:40
                             am' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection25">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                    <tr data-time=0955 data-time-code=9>

                        <td>9:55 - 11:35am</td>

                        <td data-day="T">
                            <select 
                            aria-label='Choose A class for Tuesday 9:55-11:35
                             am' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection26"
                            onchange="onSelectSchedule(26);">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="R">
                            <select 
                            aria-label='Choose A class for Thursday 9:55-11:35
                             am' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection27">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                    <tr data-time=1330 data-time-code=10>

                        <td>1:30 - 3:10pm</td>

                        <td data-day="T">
                            <select 
                            aria-label='Choose A class for Tuesday 1:30-3:10 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection28"
                            onchange="onSelectSchedule(28);">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                        <td data-day="R">
                            <select 
                            aria-label='Choose A class for Thursday 1:30-3:10 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection29">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                    </tr>


                    <tr data-time=1525 data-time-code=11>

                        <td>3:25 - 5:00pm</td>

                        <td data-day="T">
                            <select 
                            aria-label='Choose A class for Tuesday 3:25-5:00 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection30"
                            onchange="onSelectSchedule(30);">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                        <td data-day="R">
                            <select 
                            aria-label='Choose A class for Thursday 3:25-5:00 pm'
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection31">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                    <tr data-time=1730 data-time-code=12>

                        <td>5:30 - 7:15pm</td>

                        <td data-day="T">
                            <select 
                            aria-label='Choose A class for Tuesday 5:30-7:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection32"
                            onchange="onSelectSchedule(32);">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                        <td data-day="R">
                            <select 
                            aria-label='Choose A class for Thursday 5:30-7:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection33">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                    </tr>


                    <tr data-time=1930 data-time-code=13>

                        <td>7:30 - 9:15pm</td>

                        <td data-day="T">
                            <select 
                            aria-label='Choose A class for Tuesday 7:30-9:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection34"
                            onchange="onSelectSchedule(34);">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>
                        <td data-day="R">
                            <select 
                            aria-label='Choose A class for Thursday 7:30-9:15 pm' 
                            class="classSelection" 
                            name="classSelection" 
                            id="classSelection35">
                                <option value="" selected>Choose Class</option>
                            </select>
                            <select
                            aria-label="Choose a Professor"
                            class="professorSelect hidden">
                                <option value="" selected>
                                    Choose Prof
                                </option>
                            </select>
                        </td>

                    </tr>


                </tbody>

            </table>
            <!-- Schedule Table End -->
        </div>
    </div>

    <style>
        input[name="sections"]{
            width: 70%;
            margin: auto;
        }
    </style>

    <script>
        // Disable controls by default
        disableStorageControls()
        disableTableControls()

        // Start fetching data and populating page
        let roomPromise = fetchRooms();
        let classesPromise = fetchClasses();
        professorsData.then((data) => {
            populateProfessorDropdowns(data);
        })
        plansData.then((data) => {
            populatePlanDropdowns(data);
        })

        // Generate the side table
        makeInfoTable();

        // Attach events to the class and professor selects
        attachClassSelectEvents();
        attachProfessorSelectEvents();

        //Saves current room when room is changed
        (function () {
            var previous;

            $("select[name=roomSelect]").focus(function () {
                previous = this.value;
            }).change(function() {
                saveRoom(previous, getTable());
                clearTable();
                loadCurrentRoom()
                $("select.classSelection").each((index, elem) => {
                    elem.dispatchEvent(new Event("change"))
                })
                previous = this.value;
            });
        })();


        // Wait for all data to be loaded
        Promise.all([professorsData, plansData]).then(() => {
            // Attach events to controls
            attachControlEvents()

            // Enable controls
            enableStorageControls()
            enableTableControls()
        })

        // Hide algo button if no algo schedule present
        let algoSchedule = window.localStorage.getItem('algoSchedule')
        console.log("algo schedule", algoSchedule)
        if (!algoSchedule) {
            document.querySelector('#algoButton').style.display = 'none'
        }
    </script>

    {{> footer}}

</html>