<!--ABOUT Page-->
<!DOCTYPE html>

<html>

<head>
  {{> globalHead }}
  <script src="js/scheduleGeneration.js"></script>
  <script src="js/util.js"></script>
  <link rel="stylesheet" type="text/css" href="css/scheduleGeneration.css" />
</head>

<body>
  <!-- Nav Bar -->
  {{> navbar}}

    <div id="alertContainer"></div>

    <div id="scheduleNotGenerating" class="no-display">
        <button onclick="generateSchedule()" class="success button">Generate Schedule</button>
    </div>

    <div id="scheduleGenerating" class="no-display">
        <p>Schedule is already generating...</p>
        <p id="status"></p>
    </div>

    <div id="scheduleGenerated" class="no-display">
        <p>Schedule created!</p>
        <button onclick="generateSchedule()" class="success button">Generate New Schedule</button>
    </div>

    <script>ready()</script>
    <script>statusChecker()</script>
  {{> footer}}
</body>

<style>
  .lic {
text-align: center;
width:75%;
margin-left:10%;
margin-right:10%;
padding-bottom: 10%;

}

.title{
  text-align: center;
  color:#32a852;
width:75%;
margin-left:10%;
margin-right:10%;
padding-top:5%
}

</style>



</html>