<!DOCTYPE html>
<html lang="en">

<head>
  {{> globalHead }}

  <script src="js/signup.js"></script>
  <link href="css/addClass.css" rel="stylesheet" type="text/css" />
  <!--<script src="js/vendor/foundation.min.js"></script>-->
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <title>Create Account</title>
</head>

<body>

  {{> navbar}}


  <form id="signupForm">
    <p></p>
    <div class="grid-container">
      <label>Username (Email)
        <input type="text" name="username" placeholder="Username (Email)"
        maxlength = "99" />
      </label>

      <label>Password
        <input type="password" name="password" placeholder="Password"
        maxlength = "70" />
      </label>

      <label>Re-enter Password
        <input type="password" name="reenterPassword"
         placeholder="Re-enter Password" maxlength = "70" />
      </label>

      <button style="margin-left: 47%" type="button" class="submit success button"
       onclick="submitForm()">
          Submit
      </button>
    </div>
  </form>


  <div id="alertContainer"></div>

  <script>
    
  </script>

  {{> footer}}

</body>

 <style>
  .alert {
    margin-bottom: 15%;
  }
  #sub{
    margin-left: 47.5%;
    margin-right: 47.5%;
  }
  </style>

</html>