<html>

<head>
  {{> globalHead }}
  
  <script src = "https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src = "js/editPreference.js"></script>
  <link href="css/preferences.css" rel="stylesheet" />
  <title>Time Slot Preferences</title>
</head>
<body>
  <!-- NAVBAR START -->
  {{> navbar}}


<div class="div" id="div1">
</div>

<form class="canTeach" id="teachForm">

<div class="div" id='div2'>
</div>

<button class="submit" type="button" onclick = "testTimeSlotUpdate()">Submit</button>


</form>
<div id = "alertContainer"></div>
</body>

<script>
  getProf();
  fetchTimeSlots();
</script>
{{> footer}}
</html>