.schedule-container {
  width: 100%;
  position: fixed;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  /*https://github.com/psavira/classy-schedule/blob/b5a3b8dd4f658f04654658bdcfb42506e49ee6e7/schedule.png
  https://lawrencecheng123.github.io/Seattle.jpg
  background-image: url("https://lawrencecheng123.github.io/Seattle.jpg");
  schedule.png
  */
  background-image: url("schedule.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}

.schedule-container1 {
  position: fixed;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.schedule-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.schedule-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schedule-icon {
  width: 24px;
  height: 24px;
}
.schedule-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schedule-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.schedule-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.schedule-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.schedule-link7 {
  text-decoration: none;
}
.schedule-schedule-pic {
  position: fixed;
  width: 1144px;
  height: 589px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("Classy-Schedule/schedule.png");
  background-position: center;
}
.schedule-container2 {
  flex: 0 0 auto;
  width: 187px;
  height: 540px;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 0px;
  padding-right: 0px;
}
.schedule-textinput01 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 0px;
}
.schedule-textinput02 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 0;
}
.schedule-textinput03 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 40px;
  margin-bottom: 35;
  margin-left: 0;
}
.schedule-container3 {
  flex: 0 0 auto;
  width: 187px;
  height: 650px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: 0px;
  padding-left: 70px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput04 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput05 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 15px;
}
.schedule-textinput06 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 15px;
}
.schedule-textinput07 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
}
.schedule-textinput08 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 15px;
}
.schedule-textinput09 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 45px;
  margin-bottom: 15;
  margin-left: 15px;
}
.schedule-container4 {
  flex: 0 0 auto;
  width: 187px;
  height: 540px;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 30px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput10 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 50px;
  padding-right: 0px;
}
.schedule-textinput11 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 50px;
  padding-right: 0px;
}
.schedule-textinput12 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 50px;
  padding-right: 0px;
}
.schedule-textinput13 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 50px;
  margin-bottom: 40;
  padding-right: 0px;
}
.schedule-container5 {
  flex: 0 0 auto;
  width: 187px;
  height: 650px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: 120px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput14 {
  width: 151px;
  height: 80px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput15 {
  width: 151px;
  height: 80px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput16 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput17 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput18 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput19 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 15px;
}
.schedule-container6 {
  flex: 0 0 auto;
  width: 187px;
  height: 540px;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput20 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 90px;
  margin-left: 120px;
  padding-right: 0px;
}
.schedule-textinput21 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 120px;
  padding-right: 0px;
}
.schedule-textinput22 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 120px;
  padding-right: 0px;
}
.schedule-textinput23 {
  width: 151px;
  height: 200px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 120px;
  margin-bottom: 40;
  padding-right: 0px;
}
@media(max-width: 767px) {
  .schedule-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .schedule-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}