.schedule-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  /*https://github.com/psavira/classy-schedule/blob/b5a3b8dd4f658f04654658bdcfb42506e49ee6e7/schedule.png
  https://lawrencecheng123.github.io/Seattle.jpg
  background-image: url("https://lawrencecheng123.github.io/Seattle.jpg");
  schedule.png
  */
  background-image: url("schedule.png");
}
.schedule-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.schedule-navbar {
  width: 100%;
  height: 100px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #fbf8f8;
}
.schedule-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.schedule-image {
  width: 109px;
  height: 93px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.schedule-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.schedule-link {
  color: #24249a;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.schedule-link1 {
  color: #24249a;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.schedule-link2 {
  color: #24249a;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.schedule-link3 {
  color: #24249a;
  text-decoration: none;
}
.schedule-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.schedule-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #24249a;
}
.schedule-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.schedule-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.schedule-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.schedule-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schedule-icon {
  width: 24px;
  height: 24px;
}
.schedule-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schedule-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.schedule-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.schedule-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.schedule-link7 {
  text-decoration: none;
}
.schedule-schedule-pic {
  width: 1144px;
  height: 589px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("Classy-Schedule/schedule.png");
  background-position: center;
}
.schedule-container2 {
  flex: 0 0 auto;
  width: 187px;
  height: 540px;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("Classy-Schedule/schedule.png");
}
.schedule-textinput {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 0px;
  padding-right: 0px;
}
.schedule-textinput01 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 0px;
}
.schedule-textinput02 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 0;
}
.schedule-textinput03 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 0;
}
.schedule-container3 {
  flex: 0 0 auto;
  width: 187px;
  height: 700px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: 0px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput04 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput05 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 15px;
}
.schedule-textinput06 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 15px;
}
.schedule-textinput07 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
}
.schedule-textinput08 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 15px;
}
.schedule-textinput09 {
  width: 151px;
  height: 100px;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 15px;
}
.schedule-container4 {
  flex: 0 0 auto;
  width: 187px;
  height: 494px;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 30px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput10 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput11 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 15px;
}
.schedule-textinput12 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 15px;
}
.schedule-textinput13 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
}
.schedule-container5 {
  flex: 0 0 auto;
  width: 187px;
  height: 530px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: 45px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput14 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput15 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 15px;
}
.schedule-textinput16 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 15px;
}
.schedule-textinput17 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
}
.schedule-textinput18 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 15px;
}
.schedule-textinput19 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 15px;
}
.schedule-container6 {
  flex: 0 0 auto;
  width: 187px;
  height: 494px;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 40px;
  flex-direction: column;
  justify-content: flex-start;
}
.schedule-textinput20 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 15px;
  padding-right: 0px;
}
.schedule-textinput21 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 15px;
}
.schedule-textinput22 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 15px;
}
.schedule-textinput23 {
  width: 151px;
  height: 56px;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 15px;
}
@media(max-width: 767px) {
  .schedule-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .schedule-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}