/* Global App Styling */

/* table, th, td{
  margin-top: 0;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
}

td {

  text-align: center;
  background-color: dark purple;
  color: black;
}

th{
  background-color: purple;
  color: black; 
}
tr{ 
  background-color: #999;
  color: black; 
}

.classroomMenu{
  padding-top: 1em;
  text-align: center;
  position: center;
  width: 15%;
}

.classSelection{
  text-align: center;
}

#Class-Selection {
  text-align: center;
  width: 100%;
} */

/* Set the navbar elements to align to the bottom */
.navbar ul li {
  display: flex;
}

.navbar ul li>* {
  align-self: flex-end;
}

.navbar .schedule-image {
  transition: transform 0.2s ease-in-out;
  transform: scale(100%)
}

.navbar .schedule-image:hover {
  transform: scale(95%)
}