.no-display {
    display: none;
}

#previewSolutionTableContainer {
    width: 100%;
    overflow: scroll;
}

#previewSolutionTable {
    table-layout: auto;
    width: max-content
}

#previewSolutionTable td {
    border: 1px solid lightgray;
    padding: 0.5em;
    min-width: 2em;
    min-height: 2em;
}